.screen-overlay {
<<<<<<< HEAD
    align-items: center;
    background-color: rgba(0, 0, 0, 0.64);
=======
    
    
>>>>>>> eec9f31e540255746f3445d9efc4de734aeb8c25
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    &.darken{
        background-color: rgba(0, 0, 0, 0.64);
    }
    &.transparent{
        background-color: transparent;
    }
}
