.screen-overlay {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.64);
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
