.card-details {
    color: $clr7;
    position: relative;
    background-color: $bgClr1;
    border-radius: $borderRad1;
    width: 768px;
    min-height: 600px;
    position: absolute;
    z-index: 2;
    right: 50%;
    top: rem(48px);
    transform: translate(50%);

    .close-window-btn {
        cursor: pointer;
        color: $clr7;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 4px;
        right: 4px;
        transition: background-color 85ms, color 85ms;
        
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }

        &:active {
            background-color: rgba(9, 30, 66, 0.25);
        }
    }

    .window-icon {
        position: absolute;
        top: 15px;
        left: 16px;
        font-size: 18px;
    }

    .card-details-header {
        margin: rem(12px) rem(40px) rem(22px) rem(56px);

        textarea {
            color: $clr7;
            width: 100%;
            background-color: transparent;
            border: 0;
            border-radius: $borderRad1;
            box-shadow: unset;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            margin: -4px -8px;
            min-height: 24px;
            padding: 4px 8px;
            resize: none;
            transition: box-shadow 0.3s;

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px $clr1;
            }
        }

        .bottom-list-name {
            color: $clr3;
        }
    }

    .card-details-items {
        margin: rem(8px) 0 rem(22px) rem(40px);
        .card-details-item-header {
            color: $clr3;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .card-details-main {
        width: 552px;
        height: 500px;
        margin: 0 rem(8px) rem(8px) rem(16px);
    }

    .window-modal-title {
        height: 32px;
        margin-bottom: rem(12px);
        h3 {
            font-weight: bold;
            margin-inline-end: rem(8px);
        }
        svg{
            margin-inline-end: rem(16px);
        }
    }
}
