/* BOARD PAGE */
.board-header {
    padding: 8px 4px 10px 8px;
    display: flex;
    > *:not(:last-child) {
        margin-right: 4px;
    }
    .board-title {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: $borderRad1;
        color: $clr2;
        h1 {
            line-height: 32px;
            padding: 0 12px;
        }
        h1,
        input {
            font-size: 18px;
            font-weight: 700;
        }
        input {
            padding: 6px 10px 6px 12px;
            border-radius: $borderRad1;
            border: none;
        }
    }
    button,
    a {
        display: flex;
        padding: 5px;
        align-items: center;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: $borderRad1;
        outline: unset;
        border: unset;
        position: relative;
        height: 32px;
        color: $clr2;
        margin-inline-end: 5px;
        &:first-child {
            svg:first-child {
                margin-inline-end: 4px;
                margin-inline-start: 2px;
            }
            svg:last-child {
                margin-inline-end: 2px;
            }
            span {
                margin-inline-end: 6px;
            }
        }
        &:last-child {
            margin-inline-end: 4px;
            padding-inline-end: 12px;
            svg {
                margin-inline-end: 8px;
                margin-inline-start: 3px;
            }
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    // path {
    //     font-size: 16px;
    // }
    .star-icon {
        margin: 0 3px;
        &.favorite {
            color: #f2d600;
        }
    }

    .board-header-members {
        flex-grow: 1;
        .profile-avatar {
            width: 26px;
        }
        .MuiAvatar-root {
            width: 28px;
            height: 28px;
        }
        .MuiAvatarGroup-avatar {
            border: none;
            border-radius: 14px;
            border: 0;
            font-size: 12px;
            height: 28px;
            line-height: 28px;
            padding: 0 8px;
            margin-left: -2px;
            
            margin-right: 4px;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .MuiAvatarGroup-root {
            align-items: center;
            .profile-avatar {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
        .MuiAvatar-colorDefault {
            color: rgb(23, 43, 77);
        }
        button {
            margin-left: 8px;
            padding: 5px 14px;
        }
    }
    .divider {
        border-left: 1px solid hsla(0, 0%, 100%, 0.24);
        height: 16px;
        margin: 8px 6px 8px 4px;
    }
    .board-filter-results {
        background-color: #5aac44;
        color: white;
        text-decoration: none;
        border-radius: $borderRad1;
        span {
            &:first-child {
                padding: 0 12px;
            }
            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                background-color: #61bd4f;
                svg {
                    width: 16px;
                    height: 16px;
                    margin: 8px;
                }
            }
        }
        &:hover {
            filter: brightness(105%);
        }
    }
}
@media screen and (max-width:640px){
    .board-header{
        flex-wrap: wrap;
        button{
            &:first-child,&:last-child span{
                display: none;
            }
            
        }
      
        .board-header-members{
            // order: 2;
            // margin-top: 8px;
        }
    }
}