/* BOARD PAGE */
.board-header {
    padding: 8px 4px 10px 8px;
    display: flex;
    >*:not(:last-child) {
        margin-right: 4px;
    }
    .board-title {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: $borderRad1;
        color: $clr2;
        h1,input {
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            padding: 0 12px;
        }
        input{
            border-radius: $borderRad1;
            border:none;
        
        }
        
        
    }
    button {
        display: flex;
        padding: 5px;
        align-items: center;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: $borderRad1;
        outline: unset;
        border: unset;
        height: 32px;
        color: $clr2;
        *:not(:last-child) {
            margin-inline-end: 5px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    // path {
    //     font-size: 16px;
    // }
    .star-icon{
        margin:0 3px
        
    }
}
