.card-preview {
    background-color: #fff;
    border-radius: 3px;
    // box-shadow: 0 1px 0 rgb(9 30 66 / 25%); // TODO: FIX
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;

    overflow: hidden;
    padding: rem(6px) rem(10px) rem(10px);
    box-shadow: 0px 1px 0 #c0c6d0;

    &:hover {
        background-color: #f4f5f7;
    }

    .card-preview-name {
        margin-bottom: 6px;
    }
    .card-preview-menu {
        opacity: 0;
        position: absolute;
        width: 28px;
        height: 28px;
        top: 4px;
        right: 4px;
        bottom: 2x;
        background-color: #f4f5f7;

        i {
            color: $clr3;
        }
        &:hover {
            background: darken(#fff, 25%);
            // border-bottom-color: rgba(9, 30, 66, 0.25);
        }
    }

    .card-preview-icons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        >* {margin-bottom: 6px;}
        
        >*:not(:last-child) {
            // TODO: fix so it won't affect the svg icon inside card-preview-date 
            margin-inline-end: 5px; 
        }

        svg {
            display: flex;
            justify-content: center;
            color: #6b778c;
            width: 16px;
            height: 16px;
        }

    }
}
