.labels-card-details {
    max-width: 512px;
    .labels-container {
        .label {
            color: $clr2;
            border-radius: 3px;
            box-sizing: border-box;
            display: block;
            float: left;
            font-weight: 600;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            min-width: 40px;
            padding: 0 12px;
            width: auto;
        }
    }
}
