.main-nav {
    font-family: Poppins-Regular;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    background-color: $clr1;
    width: rem(250px);
    z-index: 2;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    box-shadow: $boxShadow1;

    &.open {
        transform: translateX(0%);
    }

    ul {
        position: absolute;
        top: 10vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: em(10px);
        > *:not(:last-child) {
            margin-bottom: em(16px);
        }
    }

    a,
    button {
        color: $clr3;
        font-size: em(18px);
        &:hover {
            color: $clr2;
        }
        &.active {
            color: $clr2;
        }
    }

    .user-panel {
        span {
            font-family: Poppins-Regular;
            font-weight: bolder;
            font-size: em(16px);
            color: $clr3;
            margin-inline-end: em(16px);
        }
    }

    @include for-wide-layout {
        display: flex;
        position: unset;
        background-color: unset;
        width: 100%;
        box-shadow: unset;
        transform: none;
        ul {
            position: unset;
            flex-direction: unset;
            justify-content: space-between;
            align-items: center;
            padding: unset;
        }

        ul > *:not(:last-child) {
            margin-inline-end: em(16px);
            margin-bottom: unset;
        }
    }
}
