 .details-actions-wrapper{
     .actions-btn{
         align-items: center;
         svg{
             width: 16px;
             height:16px;
         }
         .actions-btn-content{
             justify-content: flex-start;
         }
     }

 }