// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-space-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.column-reverse {
        flex-direction: column-reverse;
    }
    &.align-flex-end {
        justify-content: flex-end;
    }
}

// List helpers
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Media helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

// ICONS
.icon-sm {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20px;
}

.icon-lg {
    height: 32px;
    line-height: 32px;
    width: 32px;
}

// cleans
.clean-link {
    text-decoration: none;
    color: inherit;
}
//AVATARS
// .avatar-md {
//     background-color: "#DFE1E6";
//     color: "#172b4d";
//     width: "32px";
//     height: "32px";
//     font-weight: "bold";
//     font-size: "14px";
// }

//POPOVER
.pop-over {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    position: absolute;
    z-index: 70;
    padding: 0 12px 12px;
    min-width: 20rem;
    .pop-over-header {
        display: flex;
        align-items: center;
        text-align: center;
        color: $clr3;
        display: block;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin: 0 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        span {
            flex-grow: 1;
        }
        button {
            position: absolute;
            top: 50%;
            right: 0;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            outline: none;
            cursor: pointer;
            transform: translateY(-50%);
            line-height: 16px;
        }
    }
    .pop-over-content {
        h4 {
            color: $clr3;
            font-weight: 500;
            letter-spacing: 0.04em;
            font-size: 12px;
            margin-bottom: 0.5rem;
        }
<<<<<<< HEAD
        input {
            margin: 4px 0 12px 0;
            width: 100%;
            &::placeholder {
                color: $clr3;
            }
        }
    }
}

//INPUT TRELLO
=======
      
    }
}

>>>>>>> 058f52c2ca3ce64ab9ff5595d74ef8d7e949c8fa
.pop-over-input {
    margin:4px 0 12px 0;
    width:100%;
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fafbfc;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    padding: 8px 12px;
    &::placeholder{
        color:$clr3;
    }
}

//HIDDEN - SHOW
.hidden {
    display: none;
}

.show {
    display: flex;
}
