@font-face {
    font-family: Poppins-Regular;
    src: url(../../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../../font/Poppins-Light.ttf);
}

@font-face {
    font-family: fontawesome-far;
    src: url(../../font/webfonts/fa-regular-400.ttf);
}

@font-face {
    font-family: fontawesome-fas;
    src: url(../../font/webfonts/fa-solid-900.ttf);
}

