// Colors
$clr1: #0079bf; //primary-color
$clr2: #ffffff; //white-color
$clr3: #5e6c84; //muted-color
$clr4: #172b4d; //txt-color
$clr5: #c4c9cc; //main-nav home-user
$clr6: #ebecf0; //list-color
$clr7: #42526e; // card-details-color
$clr8: #b04632;

// BackgroundColors
$bgClr1: #f4f5f7; //card-details-bg-color

// Border radius
$borderRad1: 3px;
$borderRad2: 5px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 640px;
$normal-breakpoint: 860px;

// homepage - workspace
// header
// background-color: rgba(0, 0, 0, 0.32);Ï
// background-color: rgba(0, 0, 0, 0.15);

// main-nav-btns-input
// background-color: rgba(255, 255, 255, 0.3);
// background-color: rgba(9, 30, 66, 0.04);
// background-color: rgba(255, 255, 255, 0.2);
